<div class="exchange-card">
    <app-currency-exchange-input-block
        [(ngModel)]="sellValue"
        [flag]="exchange.flagA"
        [name]="exchange.currencyNameA"
        (onInput)="onSellChangeRate()"
        (onBlur)="onBlurEvent($event)"
        title="Sell" />

    <div class="exchange-divider">
        <div class="exchange-icon">
            <span class="material-icons-round">swap_vert</span>
        </div>
        <span class="exchange-rate">
            1 {{ exchange.currencyNameA }} = {{ exchange.rateSell || exchange.rateCross }}
            {{ exchange.currencyNameB }}
        </span>
    </div>

    <app-currency-exchange-input-block
        [(ngModel)]="buyValue"
        [flag]="exchange.flagB"
        [name]="exchange.currencyNameB"
        (onInput)="onBuyChangeRate()"
        (onBlur)="onBlurEvent($event)"
        title="Buy" />
</div>
