@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Color+Emoji&display=swap');

$text-color: #040505;
$accent-color: #375efb;
$success-color: #1a7725;
$warning-color: #f34847;
$light-text-color: #c1c1c1;

$basic-font-family: "Montserrat",
sans-serif;
$emoji-font-family: "Noto Color Emoji",
sans-serif;

html {
    --mdc-filled-text-field-caret-color: #48aaed;
    --mdc-filled-text-field-focus-active-indicator-color: #48aaed;
    --mdc-filled-text-field-focus-label-text-color: #48aaed;
    --mdc-circular-progress-active-indicator-color: #0fa1e6;
}