<div class="top">
    <div>
        <svg-icon src="assets/svg/transactions.svg"></svg-icon>
        Transactions
    </div>
    <div class="wrap-input">
        <div class="wrap-input__icon">
            <svg-icon src="assets/svg/search.svg"></svg-icon>
        </div>
        <input type="text" placeholder="Search">
    </div>
</div>

<table class="transactions">
    <thead>
        <tr>
            <th>Payment</th>
            <th class="date-th">Date</th>
            <th class="status-th">Status</th>
            <th class="amount-th">Amount</th>
        </tr>
    </thead>
    <tbody>
        @for (transaction of transactions; track transaction.id) {
            <tr>
                <th>{{ transaction.description }}</th>
                <td>{{ transaction.time * 1000 | date: 'MMM d, y • HH:mm' }}</td>
                @if (transaction.amount < 0) {
                    <td>Sent</td>
                } @else {
                    <td>Received</td>
                }
                <td 
                    class="amount"
                    [class.sent]="transaction.amount < 0">
                    {{ transaction.amount / 100 }} UAH
                </td>
            </tr>
        }
    </tbody>
</table>