<div class="content__subheader">
    <span class="content__subheader-text">Groups</span>
    <svg-icon
        class="content__subheader-button"
        src="assets/svg/plus.svg"
        (click)="open()">
    </svg-icon>
</div>

<ul
    class="content__groups"
    (cdkDropListDropped)="dragAndDrop($event)"
    cdkDropList>
    @for (group of groups; track group.title) {
        <li 
            class="content__groups-item groups-item"
            [matTooltip]="'Keys: ' + (group.keys | json)"
            matTooltipHideDelay="300"
            matTooltipShowDelay="300"
            matTooltipPosition="right"
            cdkDrag
            (contextmenu)="onRightClick(group)"
            (dblclick)="onDoubleGroupClick(group)">
            <div>
                <span class="groups-item__emoji emoji">{{ group.emoji }}</span>
                <span class="groups-item__text">{{ group.title }}</span>
            </div>
            <div class="groups-item__amount">{{  group.amount / 100}} UAH</div>
        </li>
    }
    <div class="info">Double click to delete group</div>
</ul>
