<div class="login-container">
    <h2>Login form</h2>

    <form
        [formGroup]="formGroup"
        (submit)="login()">
        <div>
            <label for="token">Email:</label>
            <input
                name="email"
                formControlName="email"
                type="text">
        </div>
        <div>
            <label for="token">Password:</label>
            <input
                name="password"
                formControlName="password"
                type="password">
        </div>
        
        <button
            (click)="login()"
            [disabled]="(formGroup.invalid && formGroup.touched) || isLoading"
            type="button">
            Submit
        </button>

        @if (errorMessage) {
            <div class="error-message">{{ errorMessage }}</div>
        }
    </form>    
</div>

<!-- <label for="token">Token:</label> -->
<!-- <input
            formControlName=""
            id="token"
            name="token"
            #token
            placeholder="Введите ваш токен"
            required
            type="text"
            (input)="onInputChange($event)"> -->
            <!-- <a
                    href="https://api.monobank.ua/index.html"
                    target="_blank">
                    How to find Token?
                </a> -->