/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/reset.scss';
@import 'assets/scss/variables.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
    font-family: $basic-font-family;
    color: $text-color;
}

body {
    background-color: #f7f8fa;
    font-size: 14px;
}

.emoji {
    font-family: $emoji-font-family;
}

html,
body {
    height: 100%;
}

mat-snack-bar-container {
    .mdc-snackbar__label {
        white-space: pre-wrap
    }

    .mdc-button__label {
        font-size: 30px;
    }
}