/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/reset.scss';
@import 'assets/scss/variables.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
    font-family: $basic-font-family;
    color: $text-color;
}

body {
    background-color: #f7f8fa;
    font-size: 14px;
}

.emoji {
    font-family: $emoji-font-family;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

mat-snack-bar-container {
    .mdc-snackbar__label {
        white-space: pre-wrap
    }

    .mdc-button__label {
        font-size: 30px;
    }
}

.mat-badge-content {
    color: white !important;
    font-weight: 500 !important;
    font-size: 10px !important;
}

mat-tooltip-component {
    pointer-events: none;
}

body>li.mat-mdc-tooltip-trigger {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    background-color: #eae9e9c1;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

    svg-icon,
    svg {
        max-width: 22px;
        max-height: 22px;
        margin-right: 10px;
    }

    .groups-item__emoji {
        font-size: 25px;
        margin-right: 10px;
    }
}

.cdk-drag-animating {
    transition:
        background-color .3s ease-in-out,
        transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.group-option .mdc-list-item__primary-text {
    display: flex;
    align-items: center;

    div:first-child {
        margin-right: 5px;
        font-size: 25px;
    }

    div:last-child {
        font-size: 14px;
    }
}

.mdc-label {
    font-family: $basic-font-family;
}

.mdc-checkbox__checkmark-path {
    color: white;
}