<div class="top">
    <div class="title">
        <span class="bank-name">monobank</span>
        <span class="divider">|</span>
        <span class="additional-name">Universal Bank</span>
    </div>
    <span class="material-icons-round pay-pass">contactless</span>
</div>

<!-- <div class="center">
    <span class="material-icons-round chip">sim_card</span>
    <div class="world">world</div>
</div> -->

@if (isSmallScreen) {
    <div class="balance-line">
        <span class="balance-value">{{ balanceFormatted | number: '1.2-2' }}</span>
        <span class="balance-currency">{{ currencyName }}</span>
    </div>
} @else {
    <div class="card-number">
        {{ (account ? account.maskedPan[0] : '4444444444444444') | maskedCard }}
    </div>
    <div class="balance-line">
        <span class="balance-value">{{ balanceFormatted | number: '1.2-2' }}</span>
        <span class="balance-currency">{{ currencyName }}</span>
    </div>
}

<div class="bottom">
    <div class="name">{{ name || 'Cardholder' }}</div>
    <span class="material-icons-round mastercard-icon">credit_card</span>
</div>