<div class="top">
    <div class="title">
        <span class="bank-name">monobank</span>
        <svg-icon 
            class="divider"
            src="assets/svg/divider.svg">
        </svg-icon>
        <span class="additional-name">Universal Bank</span>
    </div>
    <svg-icon 
        class="pay-pass"
        src="assets/svg/pay-pass.svg">
    </svg-icon>
</div>

<div class="center">
    <svg-icon 
        class="chip"
        src="assets/svg/chip.svg">
    </svg-icon>
    <div class="world">
        world
    </div>
</div>

@if (isAchievedLessThan700px) {
    <div class="card-number">
        {{ (account ? account.maskedPan[0].slice(-4) : '4444') }}
    </div>
} @else {
    <div class="card-number">
        {{ (account ? account.maskedPan[0] : '4444444444444444') | maskedCard }}
    </div>
}

<div class="bottom">
    <div class="name">{{ name || 'John Lock'}}</div>
    <svg-icon  
        class="mastercard"
        src="assets/svg/mastercard.svg">
    </svg-icon>
</div>

<mat-spinner></mat-spinner>